name: deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          target: wasm32-unknown-unknown
          override: true

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Cache Dioxus CLI
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/dx
          key: dioxus-cli-${{ runner.os }}-v1

      - name: Install Dioxus CLI
        run: cargo install dioxus-cli

      - name: Build Dioxus Web App
        run: dx build --release

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v4

      - name: Upload Pages artifact 
        uses: actions/upload-pages-artifact@v3 
        with:
          path: ./target/dx/website/release/web/public

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
